.wrapper { 
    background:#EFEFEF; 
    box-shadow: 1px 1px 10px #999; 
    margin: auto; 
    /* text-align: center;  */
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px !important;
    width: 100%;
    padding-top: 5px;            
}
.scrolls { 
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
    max-height: 80%;
    max-width: 80%;
    /* white-space: nowrap; */
    /* white-space: inherit; */
    white-space: normal;
} 

.galerifoto {
    background:#EFEFEF; 
    box-shadow: 1px 1px 10px #999; 
    margin: auto; 
    text-align: center; 
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px !important;
    width: 100%;
    padding-top: 5px; 
}

.scrollfoto {
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    overflow: auto;
    max-height: 80%;
    max-width: 100%;
    white-space: nowrap;
    /* white-space: inherit; */
    white-space: normal;
}
