body {
    /* padding-top: 20px; */
    padding-bottom: 40px;
    padding-left: 20px;
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Computer Modern Sans", sans-serif;
    /* font-family: 'Pacifico', serif; */
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-family: 'Nanum Gothic Coding', monospace; */
    /* font-family: 'Dela Gothic One', cursive; */
    /* text-shadow: 4px 4px 4px #aaa; */
    /* margin-left: 10px; */
    font-size: 20px;
}

p{
    font-size: 20px; 
    /* line-height: 20px; */
}

h1{
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Dela Gothic One', cursive;
  }
figcaption{
    text-align: center; 
    margin-right: 0%; 
    color: blue;
}

mark{
    color: white;
    background-color: blue ;
}

#noitem {
    list-style: none;
}
button {
    background-color: rgba(0, 0, 255, 0.3) ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: red;
}
.material-icons {
    color: white;
}
button:disabled,
button[disabled] {
    color: white;
    cursor: not-allowed;
    background-color: red;
}
#scberanda{
    position: fixed;
    bottom: 50px;
    /* font-size: 150px; */
    color: rgba(0, 0, 0, 0.2);
    font-size: 15vh;
    margin-left: -20px;
}
#scberanda:hover{
    color: rgba(255, 0, 0, 0.3);
    border-radius: 10vh;
    background-color: rgba(0, 0, 255, 0.3);
}
